@use '../variables.scss' as vars;

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  background-color: vars.$color-red;
  box-shadow: vars.$color-lavender 0px 3px 8px;
  font-size: 1.3rem;
}

.active {
  color: vars.$color-darkblue;
}

.notActive {
  color: vars.$color-blue;
  text-decoration: none;
}
