@use '../variables.scss' as vars;

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background-color: vars.$color-red;
}

.active {
  color: vars.$color-darkblue;
}

.notActive {
  color: vars.$color-blue;
}
