@use '../variables.scss' as vars;

.container {
  @include vars.flex-column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 1px solid black;
}

.title {
  font-size: 1.5rem;
}

.label {
  @include vars.flex-column;
}

.row {
  display: flex;
  align-items: flex-end;
}
